<h1>Book Exchange</h1>
<% if current_user%>
<%= "Signed in as #{current_user.name}" %>
<%= link_to "Sign out", signout_path %>
<%else%>
<%= link_to "Sign in With Facebook", 'auth/facebook' %>
<% end%>

<br>
<br>
<%= form_tag find_book_path do %>
<%= text_field_tag :query %>
<%= submit_tag :search %>
<%end%>
<br>
<% @titles.each do |t| %>
<%= t %> <br>
<% end %>

<br>

<% @response.items[1].inspect%>